.content {
  padding: 20px;
  transition: margin-left 0.3s;
}

.content-open {
  margin-left: 250px;
}

.content-closed {
  margin-left: 0;
}

@media (max-width: 600px) {
  .content {
    padding: 10px;
  }
}
