.dashboard {
    display: flex;
    height: 100vh;
    overflow: hidden;
    background-color: #002b59;
  }
  
  .side-menu {
    width: 250px;
  }
  
  .content {
    flex: 1;
    transition: margin-left 0.3s ease; /* Smooth transition */
  }
  
  